In [1]:
import importlib
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
import math

import IntradayChartFormatter
importlib.reload(IntradayChartFormatter)
from IntradayChartFormatter import IntradayChartFormatter

In [2]:
def to_datetime(date, time):
    dt = ' '.join([date, time])
    return datetime.datetime.strptime(dt, "%m/%d/%Y %H:%M:%S")

## Load and Preprocess

In [3]:
df = pd.read_excel('PowerQuery.xlsx')

In [119]:
df_reim = df[df['TradeCategory'] == 'COURT DECISION']
df_reim = df_reim[df_reim['Position'].isin(['Long', 'Short'])]
df_reim = df_reim[~df_reim.EventTime.isna()]
df_reim = df_reim[[type(x) == datetime.time for x in df_reim.EventTime]]
df_reim.loc[df_reim['EventTime'] == "BMO", 'EventTime'] = datetime.time(8, 30)
df_reim.loc[df_reim['EventTime'] == "AMC", 'EventTime'] = datetime.time(16, 30)
df_reim['EventDateTime'] = [datetime.datetime.combine(date, time) for (date, time) in zip(df_reim['Date'], df_reim['EventTime'])]
df_reim.shape

(34, 16)

In [252]:
import IntradayPrice2
importlib.reload(IntradayPrice2)
from IntradayPrice2 import request_price_data

tickers        = df_reim['Ticker']
eventDatetimes = df_reim['EventDateTime']

data = pd.concat(request_price_data(tickers, eventDatetimes))

Usage: ipykernel_launcher.py [options]

ipykernel_launcher.py: error: no such option: -f

Connecting to localhost:8194

Pulling data for event that happened at 2018-05-09 14:53:00 with FSLR
Pulling data for event that happened at 2018-05-09 14:53:00 with SPWR
Pulling data for event that happened at 2018-05-16 09:53:00 with MNK
Pulling data for event that happened at 2018-05-17 12:57:00 with ANET
Pulling data for event that happened at 2018-05-17 11:31:00 with CBS
Pulling data for event that happened at 2018-05-17 11:31:00 with VIAB
Pulling data for event that happened at 2018-05-23 10:04:00 with UCB
Error: 'time'
Pulling data for event that happened at 2018-05-23 13:15:00 with WOR
Pulling data for event that happened at 2018-06-25 10:11:00 with AXP
Pulling data for event that happened at 2018-06-25 10:02:00 with DXCM
Pulling data for event that happened at 2018-07-03 10:19:00 with POWI
Pulling data for event that happened at 2018-07-13 14:25:00 with JNJ
Pulling data for event that happened at 2018-07-16 03:05:00 with INDV
Error: 'time'
Pulling data for event that happened at 2018-07-24 15:12:00 with NVRO
Pulling data for event that happened at 2018-07-25 11:13:00 with ACOR
Pulling data for event that happened at 2018-07-25 11:13:00 with ACOR
Pulling data for event that happened at 2018-07-27 11:47:00 with AMGN
Pulling data for event that happened at 2018-07-27 13:41:00 with GRPN
Pulling data for event that happened at 2018-07-30 12:43:00 with INDV
Error: 'time'
Pulling data for event that happened at 2018-07-30 12:43:00 with INDV
Error: 'time'
Pulling data for event that happened at 2018-07-30 12:41:00 with RDY
Pulling data for event that happened at 2018-08-06 10:18:00 with NE
Pulling data for event that happened at 2018-09-10 10:10:00 with ACOR
Pulling data for event that happened at 2018-09-10 10:10:00 with ACOR
Pulling data for event that happened at 2018-09-10 10:10:00 with EDIT
Pulling data for event that happened at 2018-09-10 10:10:00 with ORX
Error: 'time'
Pulling data for event that happened at 2018-09-10 10:10:00 with ORX
Error: 'time'
Pulling data for event that happened at 2018-09-18 10:06:00 with P
Pulling data for event that happened at 2018-09-21 15:53:00 with SCG
Pulling data for event that happened at 2018-09-24 10:09:00 with DGX
Pulling data for event that happened at 2018-10-12 09:45:00 with MNTA
Pulling data for event that happened at 2018-10-12 09:45:00 with TEVA
Pulling data for event that happened at 2018-10-23 08:00:00 with EW
Pulling data for event that happened at 2018-10-23 14:55:00 with CORT
Session Closed

In [276]:
data['datetime'] = data.index
data['date'] = [d.date() for d in data['datetime']]
data = data.reset_index()

In [280]:
data.loc[data.groupby(['ticker', 'eventDatetime', 'date'])['datetime'].idxmax()]

,time,close,volume,ticker,eventDatetime,datetime,date
36448,2018-07-25 16:29:00,24.55,0,ACOR,2018-07-25 11:13:00,2018-07-25 16:29:00,2018-07-25
36764,2018-07-26 16:29:00,24.80,0,ACOR,2018-07-25 11:13:00,2018-07-26 16:29:00,2018-07-26
37025,2018-07-27 16:29:00,23.95,0,ACOR,2018-07-25 11:13:00,2018-07-27 16:29:00,2018-07-27
37285,2018-07-30 16:29:00,24.35,0,ACOR,2018-07-25 11:13:00,2018-07-30 16:29:00,2018-07-30
37554,2018-07-31 16:29:00,24.95,0,ACOR,2018-07-25 11:13:00,2018-07-31 16:29:00,2018-07-31
37868,2018-08-01 16:29:00,24.75,0,ACOR,2018-07-25 11:13:00,2018-08-01 16:29:00,2018-08-01
38192,2018-08-02 16:29:00,26.00,0,ACOR,2018-07-25 11:13:00,2018-08-02 16:29:00,2018-08-02
38459,2018-08-03 16:29:00,26.25,0,ACOR,2018-07-25 11:13:00,2018-08-03 16:29:00,2018-08-03
38739,2018-08-06 16:29:00,27.15,0,ACOR,2018-07-25 11:13:00,2018-08-06 16:29:00,2018-08-06
38961,2018-08-07 16:29:00,26.85,0,ACOR,2018-07-25 11:13:00,2018-08-07 16:29:00,2018-08-07
55788,2018-09-10 16:29:00,20.80,0,ACOR,2018-09-10 10:10:00,2018-09-10 16:29:00,2018-09-10
56147,2018-09-11 16:29:00,19.25,0,ACOR,2018-09-10 10:10:00,2018-09-11 16:29:00,2018-09-11
56484,2018-09-12 16:29:00,18.50,0,ACOR,2018-09-10 10:10:00,2018-09-12 16:29:00,2018-09-12
56859,2018-09-13 16:29:00,18.05,0,ACOR,2018-09-10 10:10:00,2018-09-13 16:29:00,2018-09-13
57208,2018-09-14 16:29:00,17.25,0,ACOR,2018-09-10 10:10:00,2018-09-14 16:29:00,2018-09-14
57546,2018-09-17 16:29:00,17.40,0,ACOR,2018-09-10 10:10:00,2018-09-17 16:29:00,2018-09-17
57882,2018-09-18 16:29:00,17.80,0,ACOR,2018-09-10 10:10:00,2018-09-18 16:29:00,2018-09-18
58180,2018-09-19 16:29:00,18.00,0,ACOR,2018-09-10 10:10:00,2018-09-19 16:29:00,2018-09-19
58468,2018-09-20 16:29:00,18.15,0,ACOR,2018-09-10 10:10:00,2018-09-20 16:29:00,2018-09-20
58742,2018-09-21 16:29:00,18.20,0,ACOR,2018-09-10 10:10:00,2018-09-21 16:29:00,2018-09-21
42002,2018-07-27 16:29:00,192.44,0,AMGN,2018-07-27 11:47:00,2018-07-27 16:29:00,2018-07-27
42392,2018-07-30 16:29:00,190.63,0,AMGN,2018-07-27 11:47:00,2018-07-30 16:29:00,2018-07-30
42783,2018-07-31 16:29:00,196.55,0,AMGN,2018-07-27 11:47:00,2018-07-31 16:29:00,2018-07-31
43173,2018-08-01 16:29:00,195.84,0,AMGN,2018-07-27 11:47:00,2018-08-01 16:29:00,2018-08-01
43564,2018-08-02 16:29:00,196.38,0,AMGN,2018-07-27 11:47:00,2018-08-02 16:29:00,2018-08-02
43951,2018-08-03 16:29:00,197.99,0,AMGN,2018-07-27 11:47:00,2018-08-03 16:29:00,2018-08-03
44342,2018-08-06 16:29:00,197.61,0,AMGN,2018-07-27 11:47:00,2018-08-06 16:29:00,2018-08-06
44733,2018-08-07 16:29:00,200.40,0,AMGN,2018-07-27 11:47:00,2018-08-07 16:29:00,2018-08-07
45124,2018-08-08 16:29:00,196.20,0,AMGN,2018-07-27 11:47:00,2018-08-08 16:29:00,2018-08-08
45515,2018-08-09 16:29:00,193.97,0,AMGN,2018-07-27 11:47:00,2018-08-09 16:29:00,2018-08-09
...,...,...,...,...,...,...,...
6583,2018-05-21 16:29:00,9.45,0,SPWR,2018-05-09 14:53:00,2018-05-21 16:29:00,2018-05-21
6937,2018-05-22 16:29:00,9.20,0,SPWR,2018-05-09 14:53:00,2018-05-22 16:29:00,2018-05-22
80327,2018-10-12 16:15:00,21.38,0,TEVA,2018-10-12 09:45:00,2018-10-12 16:15:00,2018-10-12
80719,2018-10-15 16:15:00,21.74,0,TEVA,2018-10-12 09:45:00,2018-10-15 16:15:00,2018-10-15
81111,2018-10-16 16:15:00,22.26,0,TEVA,2018-10-12 09:45:00,2018-10-16 16:15:00,2018-10-16
81503,2018-10-17 16:15:00,21.19,0,TEVA,2018-10-12 09:45:00,2018-10-17 16:15:00,2018-10-17
81895,2018-10-18 16:15:00,21.27,0,TEVA,2018-10-12 09:45:00,2018-10-18 16:15:00,2018-10-18
82287,2018-10-19 16:15:00,21.43,0,TEVA,2018-10-12 09:45:00,2018-10-19 16:15:00,2018-10-19
82679,2018-10-22 16:15:00,21.23,0,TEVA,2018-10-12 09:45:00,2018-10-22 16:15:00,2018-10-22
83071,2018-10-23 16:15:00,21.24,0,TEVA,2018-10-12 09:45:00,2018-10-23 16:15:00,2018-10-23
83463,2018-10-24 16:15:00,19.81,0,TEVA,2018-10-12 09:45:00,2018-10-24 16:15:00,2018-10-24
83855,2018-10-25 16:15:00,20.30,0,TEVA,2018-10-12 09:45:00,2018-10-25 16:15:00,2018-10-25
16955,2018-05-17 16:29:00,28.16,0,VIAB,2018-05-17 11:31:00,2018-05-17 16:29:00,2018-05-17
17346,2018-05-18 16:29:00,27.24,0,VIAB,2018-05-17 11:31:00,2018-05-18 16:29:00,2018-05-18
17734,2018-05-21 16:29:00,27.45,0,VIAB,2018-05-17 11:31:00,2018-05-21 16:29:00,2018-05-21
18106,2018-05-22 16:29:00,27.57,0,VIAB,2018-05-17 11:31:00,2018-05-22 16:29:00,2018-05-22
18496,2018-05-23 16:29:00,27.19,0,VIAB,2018-05-17 11:31:00,2018-05-23 16:29:00,2018-05-23
18883,2018-05-24 16:29:00,27.28,0,VIAB,2018-05-17 11:31:00,2018-05-24 16:29:00,2018-05-24
19269,2018-05-25 16:29:00,27.50,0,VIAB,2018-05-17 11:31:00,2018-05-25 16:29:00,2018-05-25
19661,2018-05-29 16:29:00,26.87,0,VIAB,2018-05-17 11:31:00,2018-05-29 16:29:00,2018-05-29
20052,2018-05-30 16:29:00,27.19,0,VIAB,2018-05-17 11:31:00,2018-05-30 16:29:00,2018-05-30
20142,2018-05-23 16:15:00,47.77,0,WOR,2018-05-23 13:15:00,2018-05-23 16:15:00,2018-05-23
20337,2018-05-24 16:15:00,47.68,0,WOR,2018-05-23 13:15:00,2018-05-24 16:15:00,2018-05-24
20556,2018-05-25 16:15:00,46.81,0,WOR,2018-05-23 13:15:00,2018-05-25 16:15:00,2018-05-25
20789,2018-05-29 16:15:00,47.02,0,WOR,2018-05-23 13:15:00,2018-05-29 16:15:00,2018-05-29
21078,2018-05-30 16:15:00,48.39,0,WOR,2018-05-23 13:15:00,2018-05-30 16:15:00,2018-05-30
21338,2018-05-31 16:15:00,47.95,0,WOR,2018-05-23 13:15:00,2018-05-31 16:15:00,2018-05-31
21582,2018-06-01 16:15:00,48.92,0,WOR,2018-05-23 13:15:00,2018-06-01 16:15:00,2018-06-01
21800,2018-06-04 16:15:00,49.01,0,WOR,2018-05-23 13:15:00,2018-06-04 16:15:00,2018-06-04
22006,2018-06-05 16:15:00,48.36,0,WOR,2018-05-23 13:15:00,2018-06-05 16:15:00,2018-06-05